*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    outline: none;
    }


body{
   background-color: #62b192;
  

    
}


main{
    display: block;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    width: 375px;
    border-radius: 20px ;
    padding: 44px 24px;

    
    
}

label{
    width: 80px;
    height: 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color:#777777 ; 
}


select , input{
    height: 48px;
    width: 100%;
    border-radius: 4px;
    border-width: 1px;
    border: 1px solid #BBBBBB;
    margin-bottom: 24px;
    padding-left: 18px;
    appearance: none;

    
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #555555;
    cursor: pointer;
}


#button-covert{
    width: 100%;
    height: 48px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #7db9a2;
    border: none;
    color: #FFFFFF;

 
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;

}

#button-covert:hover{
opacity: 0.9;

}

#button-covert::after{
    opacity: 0.5;
    
    }

section{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-width: 1px;
    border: 1px solid #7db9a2;
    margin-top: 36px;
    padding: 20px 100px;


    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.moeda ,.moeda-a-coverter{
    width: 28px;
    height: 18px;
    color: #777777;

    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    

}


.valor, .valor-a-converte{
    width: 100%;
    height: 18px;
    
  
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;



}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#setarr{
    margin-top: 15px;
    margin-bottom: 15px;
}


@media screen and (max-width: 404px){
    main{
        height: 100%;
        width: 90vw;
    }

    label{
        width: 80%;
        height: 10px;
        
    }


    section{
        width: 100%;
        height: 60%;
        padding: 15px;
       
        
    }
    .moeda ,.moeda-a-coverter{
        width: 100%;
        height: 18px;
        
    
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

    .valor ,.valor-a-converte{
        width: 100%;
        height: 10px;

        font-size: 15px;
    }


}